[user]
	name = x71c9
	email = 108585118+x71c9@users.noreply.github.com
[core]
	editor = /opt/homebrew/bin/vim
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:/Users/x71c9/repos/botshelf"]
	[user]
			name = Andrea Reni | botshelf.ai
			email = andrea.reni.consultant@botshelf.ai
