<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.x71c9.delete_ds_store</string>
	<key>ProgramArguments</key>
	<array>
		<string>find</string>
		<string>/Users/x71c9/repos</string>
		<string>-name</string>
		<string>.DS_Store</string>
		<string>-print</string>
		<string>-type</string>
		<string>f</string>
		<string>-delete</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.x71c9.delete_ds_store.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.x71c9.delete_ds_store.log</string>
	<key>StartInterval</key>
	<integer>60</integer>
</dict>
</plist>
