<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.x71c9.gitwatch.notes</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>RunAtLoad</key>
	<true />
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/gitwatch</string>
		<string>-l</string>
		<string>1</string>
		<string>-m</string>
		<string>"Auto-commit on %d"</string>
		<string>-s</string>
		<string>5</string>
		<string>-r</string>
		<string>origin</string>
		<string>/Users/x71c9/repos/notes/</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/com.x71c9.gitwatch.notes</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.x71c9.gitwatch.notes</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
